# Backups
*~
*.bak

# Build tools
aclocal.m4
autom4te.cache
config.log
config.status
configure
confdefs.h
install-sh
Makefile
Makefile.in
missing

# NUT Website-specific
ups-html.txt
historic-release.txt
.git-commit-website
*.txt-spellchecked
*.asciidoc-spellchecked
/images/
/output/
/*.html

# Auto-published site
/networkupstools.github.io
