# Backups
*~
*.bak

# Build tools
aclocal.m4
autom4te.cache
config.log
config.status
configure
confdefs.h
install-sh
Makefile
Makefile.in
missing

# NUT Website-specific
ups-html.txt
website.txt
historic-release.txt
.git-commit-website
*.txt-spellchecked
*.txt.in-spellchecked
*.asciidoc-spellchecked
*.usage-report
/nut-website.dict
/nut-website.dict.bak-pre-sorting
/nut-website.dict.sorted
/.nut-website.dict.sorted
/images/
/output/
/*.html

# Auto-published site
/networkupstools.github.io

# IDEs
nbproject
.idea
.vscode
*.iml
